<launch>
  <node name="ir" pkg="solar_buggy" type="simulate_ir.py" output="screen"/>
  <node name="read_serial" pkg="solar_buggy" type="read_serial.py" output="screen"/>
  <node name="infared" pkg="solar_buggy" type="infared.py" output="screen"/>
  <!-- <node name="move_vehicle" pkg="solar_buggy" type="move_vehicle.py" output="screen"/> -->
  <!-- <node name="controller" pkg="solar_buggy" type="controller.py" output="screen"/> -->
</launch>
